<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHealth | Login</title>
</head>
<body class="new-account pg-esqueci-senha">
    <header>
        <div class="av-container">
            <div class="container-logo">
                <a href="./index.html">
                    <img src="../assets/images/icon-vaccine.png" alt="Logo MyHealth">
                    <span>MyHealth</span>
                </a>
            </div>
        </div>
    </header>

    <section class="av-container content-login">
        <div class="cadastro-user">
            <form action="">
                <div>
                    <label for="email">E-mail</label>
                    <input id="email" type="email">
                </div>
            </form>
            <input type="submit" value="Redefinir senha" class="btn-verde">
        </div>
    </section>
    
</body>
</html>