<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHealth</title>
</head>
<body class="login index">
    <div class="bg-shadow"></div>
    <header>
        <div class="av-container">
            <div class="container-logo">
                <a href="./index.html">
                    <img src="../assets/images/icon-vaccine.png" alt="Logo MyHealth">
                    <span>MyHealth</span>
                </a>
            </div>
            <div>
                <a href="./login.html" class="btn-primary tenho-conta">Já tenho conta</a>
            </div>
        </div>
    </header>

    <section class="content-index">
        <div class="content">
            <h2>Controle as suas vacinas e<br/> fique seguro</h2>
            <a class="btn-primary" href="/templates/new-account.html">Criar minha conta</a>
        </div>
    </section>
</body>
</html>