<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHealth | Minhas vacinas</title>
</head>
<body>
    <header>
        <div class="av-container">
            <div class="container-logo">
                <a href="./index.html">
                    <img src="../assets/images/icon-vaccine.png" alt="Logo MyHealth">
                    <span>MyHealth</span>
                </a>
            </div>
            <div class="container-btns">
                <a href="" class="btn-primary tenho-conta">Minhas vacinas</a>
                <a href="" class="btn-primary tenho-conta logout">Logout</a>
            </div>
        </div>
    </header>   
    <div class="av-container">
        <div class="search">
            <input type="text" placeholder="PESQUISAR VACINA...">
            <img src="/assets//images/search.svg">
        </div>

        <div class="list-cards">
            <div class="card">
                <a href="">
                    <h4>BCC</h4>
                    <span>Dose única</span>
                    <p>11/06/2022</p>
                    <img src="../assets/images/rotulo.jfif">
                    <em>Não há próxima dose</em>
                </a>
            </div>
        </div>
    </div>
</body>
</html>